<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/nave') %>
    <h1> all the listings</h1>

    <ul>
        <% allList.forEach((item) => { %>
            <a href="/listings/<%= item._id %>">
                Click here for more details
            </a>
            <li> owned by <%= item.owner.username %></li>
            <li>Price: <%= item.price%></li>
        <br> 
        <img src="<%= item.image.url%>" alt="house" width="200" height="180">
            <hr>
        <%})%>
       
    </ul>
    
</body>
</html>