<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1> view all the listings</h1>

    <ul>
        <% allList.forEach((item) => { %>
           <li> owned by: <%= item.owner.username %></li>
        <li>Price: <%= item.price%></li>
        <li>street Addres: <%= item.streetAddres%></li>
        <li>city: <%= item.city%></li>
        <li>size: <%= item.size%></li>
        <br>
        <img src="<%= item.image%>" alt="house" width="200" height="180">
            <hr>
        <%})%>

    </ul>
    
</body>
</html>