<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> This show page added by <%= finidlisting.owner.username %></h1>

    <ul>
        <!-- // verfication and delete -->
           <% if (finidlisting.owner._id.equals(user._id) ) { %>
                you own this
                <form action="/Listings/<%= finidlisting._id%>?_method=DELETE" method="post">
                    <button type="submit">  Delete this list</button>
                </form>
                
                
           <% } else { %>
            owned by: <%= finidlisting.owner.username %>
        <%}%>
           <br> 
        <li>Price: <%= finidlisting.price%></li>
        <li>street Addres: <%= finidlisting.streetAddres%></li>
        <li>city: <%= finidlisting.city%></li>
        <li>size: <%= finidlisting.size%></li>
            
        <br>
        <img src="<%= finidlisting.image.url%>" alt="house" width="250" height="200">
      
    </ul>
    <hr>
<!-- =============================================================== -->
<section>
    <h2>Favorites</h2>
    <p> favorited-by <%= finidlisting.favoritedByUser.length%>  people</p>
    <%if (userHasFavorited) {%>
        <form action="/Listings/<%= finidlisting._id%>/favorited-by/<%= user._id%>?_method=DELETE" method="post">
            <button type="submit"> ❌</button>
        </form>

    <%} else {%>
    <form action="/Listings/<%= finidlisting._id%>/favorited-by/<%= user._id%>" method="post">
        <button type="submit"> Favorite </button>
    </form>
   <% }%>
    

</section>
<!-- =============================================================== -->
    <section>
        <h2> Questions about this property?</h2>

        <form action="/Listings/<%= finidlisting._id%>/questions" method="post">
            <textarea name="text" rows="4" required></textarea>
            <button type="submit"> Ask Questions</button>
        </form>
        <h3>questiond from user</h3>
        <%finidlisting.questions.forEach((item) =>{%>
            <p><%= finidlisting.owner.username %> add coment:
                <%=item.text%></p>
        <%})%>
    
    </section>


   <button> <a href='/Listings'> return to index</a></button>
    
</body>
</html>