<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> This show page added by <%= finidlisting.owner.username %></h1>

    <ul>
        
            
            <li> owned by: <%= finidlisting.owner.username %></li>
        <li>Price: <%= finidlisting.price%></li>
        <li>street Addres: <%= finidlisting.streetAddres%></li>
        <li>city: <%= finidlisting.city%></li>
        <li>size: <%= finidlisting.size%></li>
        <br>
        <img src="<%= finidlisting.image%>" alt="house" width="250" height="200">
            
        
        </a>
    </ul>
    
</body>
</html>